head
  //- JQUERY
  //- script(src="/assets/vendor/jquery/dist/jquery.min.js")

  //- MAIN.CSS
  link(rel="stylesheet" type="text/css" href="assets/css/main.css")

  //- icons... try svg lib, import helper, as jade includes?
  //- try to use a mobile boilerplate versio which just has the exends header and the block as change?