script
  //- controlling event bubbling
  | $('.a-front-container-or-element').click(function(event){ event.stopPropagation(); });

//- uilang.com
//- add, remove, toggle
//- ".class", "#id", "target"
code
  | clicking on ".an-element" adds class "modifier" on "target"