extends ./_layouts-includes/_layout.jade

block content

  h1
    | UI Toolkit
  h2
    | you are looking at...
  li
    | src/index.jade
  li
    | src/assets/sass/main.scss

  h2
    | Toolkit
  li
    | Jade, Sass, PostCSS
  li
    | jQuery, ui lang
  li
    a(href="http://clrs.cc/")
      | Colors (add the 16 swatches?)

    h2
      | try it:
    li.inspect-me
      | inspect me
    li.click-me
      | click me


  //- holds inline ui-lang and jquery
  include ./_layouts-includes/_interaction.jade