// _watercolors.scss

$dirty-blue: #142A3E;

$heaven-shall-burn: #DB2414;

$autumn-blood: #972D26;

$milk-choc: #7A432D;

$neapel-yellow: #EFCC77;

$bud-green: #B1DC30;

$mud-green: #173323;

$petrol-green: #242B1F;

$ice-fishing: #3F88D1;